[submodule "Modules/MizuVOIP"]
	path = Modules/MizuVOIP
	url = git@github.com:aryoff/boilerplate_module_mizuvoip.git
[submodule "Modules/DynamicTicket"]
	path = Modules/DynamicTicket
	url = git@github.com:aryoff/boilerplate_module_dynamic_ticket.git
[submodule "Modules/Wfm"]
	path = Modules/Wfm
	url = git@github.com:aryoff/boilerplate_module_Wfm.git
