/Modules/*
!/Modules/.gitignore
/node_modules
/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
!/public/web.config
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
modules_statuses.json
npm-debug.log
yarn-error.log
debug.log